body{background-color: rgba(163, 255, 124, 0.737);

}
h2{
    color: rgb(0, 0, 0); /*Cor do texto*/
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;

}
div{
    text-align: justify;
}
.imagem1 img{
    text-align: center;
    width: 150px;
    
}
h1{
    color: rgb(0, 0, 0); /*Cor do texto*/
    text-align: center;
    font-family: monospace;
    font-size: 15px;

}
.imagem2 img{
    width: 250px
}
.imagem3 img{
    width: 250px;
}
h3{
    color: rgb(0, 0, 0); /*Cor do texto*/
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

}
.imagem1{
    background-color: rgb(0, 0, 0);
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70vw;
}